body {
  background-color: black !important;
  overflow-x: hidden;
  font-family: "antoni-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
  height: auto;
  width: 140px;
  padding: 40px 0px 0px 44px;
}

.header {
  min-height: 22.3vh;
}

#container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 100px 0px;
  cursor: pointer;
  display: flex;
  overflow-x: scroll;
}

#container p {
  font-family: sans-serif;

  border-radius: 8px;

  color: white;

  padding: 2rem 3rem;
  margin: 2rem 1rem;
}
.slide {
  display: block;
}

.slide > video {
  height: auto;
  width: 36.6vw;
}

.slide > h4 {
  color: white;
  font-style: bold;
  padding-left: 1.5vw;
  margin-top: 2vh;
  font-size: 29px;
  position: relative;
}

.slide > h6 {
  color: rgb(100, 100, 100);
  padding-left: 1.5vw;
  line-height: 1vh;
  font-size: 20px;
}

video::after {
  content: " - Remember this";
  color: wheat;
}

.contact-container {
  background-color: black;
}

.contact1 {
  background-color: black;
  height: 600px;
}

.contact-image {
  padding: 50px 0px 50px 150px;
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: bottom;
}

.contact2 {
  margin: 0px 0px 0px 0px;
}

.contact2 > h1 {
  font-size: 300px;
  margin-left: -400px;
}
.contact2 > p {
  color: aliceblue;
}

/* Social Icons CSS */

.container-social {
  min-height: 100px;
  vertical-align: middle;
}

.banner_social {
  overflow: hidden;
  display: inline;
  margin-left: -20px;
  vertical-align: middle;
}
.banner_social > li {
  list-style: none;
  display: inline;
}
.banner_social li > a {
  color: #fff;
  height: 36px;
  width: 36px;
  padding: 5px;

  display: inline-block;
  text-align: center;
  line-height: 36px;
  border-radius: 2px;
  margin-right: 6px;
  transition: 0.25s;
}
.banner_social li > a:hover {
  background-color: none;
  color: grey;
}
.banner_social > li > a:hover i {
  -webkit-animation-name: gt_animation;
  -webkit-animation-duration: 0.8s;
  animation-name: gt_animation;
  animation-duration: 0.8s;
}

/* Hover Fade Effect on videos */
#container:hover > div {
  opacity: 0.5;
}

#container:hover > div:hover {
  opacity: 1;
}

/* Screen Resizer */
/* MUST GO AFTER ALL ID/CLASSES LISTED INSIDE */
@media only screen and (max-width: 960px) {
  #container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 100px 0px;
    cursor: pointer;
    display: block;
    overflow-x: auto;
  }
  .slide > video {
    height: auto;
    width: 100%;
  }
  .slide > h4 {
    color: white;
    font-style: bold;
    padding-left: 1.5vw;
    margin-top: 2vh;
    font-size: 30px;
  }

  .slide > h6 {
    color: rgb(255, 255, 255);
    padding-left: 1.5vw;
    line-height: 1vh;
    font-size: 25px;
    padding-bottom: 20px;
  }
  .contact2 > h1 {
    font-size: 170px;
    margin-left: -180px;
  }
  .contact-image {
    padding-left: 15px;
  }
}
