body {
  background-color: black !important;
  overflow-x: hidden;
  font-family: "antoni-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
  height: auto;
  width: 140px;
  padding: 40px 0px 0px 44px;
}
nav {
  padding-top: 40px;
  letter-spacing: 0.025em;
}
nav > a {
  color: white;
  font-size: 15px;
  margin: 0px 8px 0px 8px;
  text-transform: bold;
}

nav > a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid rgb(255, 255, 255) !important;
  transition-duration: 0.2s;
}

a:active {
  border-bottom: 2px solid rgb(255, 255, 255) !important;
  background-image: none !important;
  transition-duration: 0.2s;
}

.header {
  min-height: 22.3vh;
}

/* scroll resizer */
@media only screen and (max-width: 991px) and {
  #container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 100px 0px;
    cursor: pointer;
    display: flex;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 991px) {
  #container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 100px 0px;
    cursor: pointer;
    display: flex;
    overflow-x: scroll;
  }
}

#container p {
  font-family: sans-serif;

  border-radius: 8px;

  color: white;

  padding: 2rem 3rem;
  margin: 2rem 1rem;
}

.slide > video {
  height: auto;
  width: 36.6vw;
}

.slide > h4 {
  color: white;
  font-style: bold;
  padding-left: 1.5vw;
  margin-top: 2vh;
  font-size: 29px;
}

.slide > h6 {
  color: rgb(100, 100, 100);
  padding-left: 1.5vw;
  line-height: 1vh;
  font-size: 20px;
}

video::after {
  content: " - Remember this";
  color: wheat;
}

.contact-container {
  background-color: black;
}

.contact1 {
  background-color: black;
  height: 600px;
  float: left;
}

.contact-image {
  height: 800px;
  padding: 50px 0px 50px 150px;
}

.contact2 {
  margin: 0px 0px 0px -50px;
}

.contact2 > h1 {
  font-size: 300px;
  margin-left: -400px;
}
.contact2 > p {
  color: aliceblue;
}

/* Social Icons CSS */

.container-social {
  min-height: 100px;
  vertical-align: middle;
}

.banner_social {
  overflow: hidden;
  display: inline;
  margin-left: -20px;
  vertical-align: middle;
}
.banner_social > li {
  list-style: none;
  display: inline;
}
.banner_social li > a {
  color: #fff;
  height: 36px;
  width: 36px;
  padding: 5px;

  display: inline-block;
  text-align: center;
  line-height: 36px;
  border-radius: 2px;
  margin-right: 6px;
  transition: 0.25s;
}
.banner_social li > a:hover {
  background-color: none;
  color: grey;
}
.banner_social > li > a:hover i {
  -webkit-animation-name: gt_animation;
  -webkit-animation-duration: 0.8s;
  animation-name: gt_animation;
  animation-duration: 0.8s;
}

/* Hover Fade Effect on videos */
#container:hover > div {
  opacity: 0.5;
}

#container:hover > div:hover {
  opacity: 1;
}
