.scroll-jack {
  position: relative;
  height: 120px;
  width: 100vw;
  cursor: ns-resize;
}
.scroll-jack > * {
  position: absolute;
  top: 100%;
  left: 0;
  width: 120px;
  padding-top: 100%;
  transform: rotate(-90deg) scalex(-1) translatex(-100%);
  transform-origin: top left;
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll-jack > * > * {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  transform: rotate(90deg) scaley(-1) translatey(-100%);
  transform-origin: top left;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
ul > li {
  display: inline-flex; !important;
  justify-content: center;
  align-items: center;
  width: 28%;
  height: 100px;
  background: rgba(0, 119, 255, 0.6);

}
.scroll-horizonal {
  overflow-x: auto;
  cursor: ew-resize;
}
h1 {
  margin: 10px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.inner{
  height: auto;
}

.slides {
  width: 500vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
}

.slides .slide {
  height: 30vh;
  width: 30vw;
  background: pink;
  float: left;
  text-align: center;
  background-size: cover;
}

.slides .slide .content {
  width: 20vw;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  margin: 50px 0 0 50px;
  border-radius: 5px;
