@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@-webkit-keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
@keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow: hidden;
  font-size: 100%;
}

nav {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
  height: 100vh;
  left: 0;
  width: 10vw;
  font-weight: 300;
  font-size: 1rem;
}

nav ul {
  list-style-type: none;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

nav a,
nav a:visited,
nav a:active {
  text-decoration: none;
  color: #fff;
}

nav a {
  -webkit-transition: color 2s, background 1s;
  transition: color 2s, background 1s;
  padding: 10px;
  position: relative;
  z-index: 0;
}

nav a.active {
  background: rgba(0, 0, 0, 0.9);
}

nav a::before {
  content: "";
  position: absolute;
  height: 0%;
  width: 0%;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: #555;
  z-index: -1;
}

nav a:hover {
  -webkit-animation: fillColour 0.7s forwards ease-in-out;
  animation: fillColour 0.7s forwards ease-in-out;
}

nav a:hover::before {
  -webkit-animation: fill 0.7s forwards ease-in-out;
  animation: fill 0.7s forwards ease-in-out;
  opacity: 1;
}

.slides {
  width: 500vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
}

.slides .slide {
  height: 30vh;
  width: 30vw;
  background: pink;
  float: left;
  text-align: center;
  background-size: cover;
}

.slides .slide .content {
  width: 20vw;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  margin: 50px 0 0 50px;
  border-radius: 5px;
}
.contents {
  margin: 300px 0px 0px 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.content::after {
  content: "stuff after";
  font-size: 100px;
}
.slides .slide .content p {
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.slides .slide:nth-child(1) {
  background-image: ;
}

/* .slides .slide:nth-child(2) {
  background-image: url(https://unsplash.it/1800/1200?image=912);
}

.slides .slide:nth-child(3) {
  background-image: url(https://unsplash.it/1800/1200?image=212);
}

.slides .slide:nth-child(4) {
  background-image: url(https://unsplash.it/1800/1200?image=312);
}

.slides .slide:nth-child(5) {
  background-image: url(https://unsplash.it/1800/1200?image=412);
} */

.slides .slide img {
  width: 100%;
}

/* end of index css */

/* Temp bottom broken scrollbar
 */

/* .main {
  width: auto; height: 250px; border: 1px solid black; overflow-x: scroll;  font-size: 14px"
} */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  width: 100px;
  position: absolute;
}

/* TEST 3 */

/* .carousel-frame {
  width: 100%;
  margin-bottom: 0.5em;
  padding-bottom: 1em;
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
}
.carousel-frame ul {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}
.carousel-frame li.carousel-item {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
} */

/* TEST 4 */
/* body {
  background: #419be0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: #333;
}

.slick-slide {
  text-align: center;
  color: #419be0;
  background: white;
  margin: 10px;
}

h4 {
  text-align: center;
}

.slider-item {
  width: 10000px;
  margin: 1px 1px 1px 1px;
} */

/* TEST SIDESCROLLIGN DIV */
/* .main {
  width: 1000px;
  height: 3000px;
  overflow-y: auto;
  overflow-x: hidden;
}
.main > div {
  width: 100px;
  height: 100px;
}

.main {
 
  transform: rotate(-90deg);
  transform-origin: right top;
}
.main > div {

  transform: rotate(90deg);
  transform-origin: right top;
} */

/* Sidescroller */
.scroll-jack {
  position: relative;
  /* height: 300px; */
  /* width: 100vw; */
  cursor: ns-resize;
}
.scroll-jack > * {
  position: absolute;
  top: 100%;
  left: 0;
  width: 120px;
  padding-top: 100%;
  transform: rotate(-90deg) scalex(-1) translatex(-100%);
  transform-origin: top left;
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll-jack > * > * {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 500px;
  transform: rotate(90deg) scaley(-1) translatey(-100%);
  transform-origin: top left;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
ul > li {
  display: inline-flex !important;
  /* justify-content: center;
  align-items: center;
  /* width: 50%; */
  /* height: 200px; */
  /* background: rgba(0, 119, 255, 0.6); */
  /* padding: 10px; */
  /* margin: 10px; */
  /* border-radius: 10px; */
  width: 500vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;

  height: 30vh;
  width: 30vw;
  background: pink;

  text-align: center;
  background-size: cover;
}

video {
  height: auto;
}

.inner {
  height: 200px;
  padding: 0%;
}
/*.slides {
  width: 500vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  overflow-x: scroll;
}

.slides .slide {
  height: 30vh;
  width: 30vw;
  background: pink;
  float: left;
  text-align: center;
  background-size: cover;
  display: inline-flex; !important;
}

*/

.scroll-horizonal {
  overflow-x: auto;
  cursor: ew-resize;
}
h1 {
  margin: 10px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
