body{
  background-color: rgb(238, 192, 192) !important;
}
nav{
  z-index: 1 !important;
  position: relative;
}

.header{
  z-index: 1 !important;
  position: relative;
  /* margin: 100px 100px 100px 100px; */
}

.logo{
  width: 70%;
  height: auto;
  padding: 30px 30px 30px 30px;
}

.scroll-jack {
  z-index: 10;
  position: relative;
  height: 120px;
  width: 100vw;
  cursor: ns-resize;
  height: 500px;
}
.scroll-jack > * {

  z-index: 10;
  position: absolute;
  top: 100%;
  left: 0;
  width: 120px;
  padding-top: 100%;
  transform: rotate(-90deg) scalex(-1) translatex(-100%);
  transform-origin: top left;
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
}
.scroll-jack > * > * {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 500px;
  transform: rotate(90deg) scaley(-1) translatey(-100%);
  transform-origin: top left;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
ul > li {
  display: inline-flex; !important;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 500px;
  /* background: rgba(0, 119, 255, 0.6); */
 
  margin: 10px;
  border-radius: 10px;
}
.scroll-horizonal {
  overflow-x: auto;
  cursor: ew-resize;
}
h1 {
  margin: 10px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.inner{
  height: 480px;
  margin: 0px 00px 0px 0px;
  /* padding:130vh 500px 500px 0px; */
  /* padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px; */
 
  width: 100%;
}


.inner-container{
 
}


::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
} */

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(252, 252, 252, 0.5); 

 
}

.contact-container{
  background-color: black;
}

.contact1{
  background-color: black;
  height: 600px;
  /* background-image: url("resources/images/contact-image.jpg"); */
 
}


.contact-image{
  height: 800px;
  padding: 50px 0px 50px 150px;
  }

  .contact2{
    margin: 0px 0px 0px -50px;
  }

.contact2 > h1{
  font-size: 300px;
  margin-left: -400px;
}
.contact2 > p{
  color: aliceblue;
}
